<div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button class="close" data-dismiss="modal">&times</button>
            </div>
              <form action="" method="POST" id="delete-modal-form">
                    @Html.AntiForgeryToken()
                <div class="modal-body">
                    Are you sure you want to <span class="action-type"></span> this resource ?
                </div>
                <div class="modal-footer d-flex">
                    <button type="submit" class="btn btn-sm"><span class="action-type"></span></button>
                    <button data-dismiss="modal" class="btn btn-sm btn-success">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@using (Html.BeginScripts()){
    <script>
        $("#delete-modal").on("show.bs.modal", function(e){

            document.getElementById("delete-modal-form").setAttribute("action", e.relatedTarget.dataset.action);
            Object.values(document.querySelectorAll(".action-type")).forEach(function(elem){
                elem.innerHTML = e.relatedTarget.dataset.actionType;
                var providedAction = e.relatedTarget.dataset.cssBg
                document.querySelector('button[type="submit"]').classList.add(`bg-${providedAction}`);
            });
        });
    </script>
}