@using job_portal.Areas.Identity.ViewModels
@model LoginViewModel
<div class="modal fade" id="login-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button data-dismiss="modal" class="close">&times;</button>
            </div>
            <form asp-action="SignIn" asp-controller="Account" id="login-form" asp-area="Identity">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input">
                        <label asp-for="RememberMe" class="form-check-label"></label>
                        <span class="text-danger" asp-validation-for="RememberMe"></span>
                    </div>
                    <div class="form-group">
                        <a class="text-danger" asp-action="ResetPassword" asp-controller="Account" asp-area="Identity">Forgot your password?</a>
                    </div>
                </div>
                <div class="modal-footer d-flex">
                    <button data-dismiss="modal" class="btn btn-sm bg-secondary">Close</button>
                    <button class="btn btn-sm bg-success" type="submit" value="">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

@using (Html.BeginScripts())
{
    <partial name="_ValidationScriptsPartial"> </partial>
    <script>
    var form = document.getElementById("login-form");
    async function LoginHttpRequest(data, url) {
        var response = fetch(url, {
            body: data,
            method: "POST"
        });
        return response;
    }
    document.getElementById("login-form").onsubmit = async function (event) {
        event.preventDefault();
        $("#login-form").validate();
        if ($("#login-form").valid()) {
            var modalErrorDiv = document.querySelector("div.text-danger");
            var formData = new FormData(form);
            var action = form.getAttribute("action");
            var response = await LoginHttpRequest(formData, action);
            console.log("fetch request made");
            responseBody = await response.json();
            if (response.status == 400) {
                var { errors } = responseBody;
                if(modalErrorDiv!=null){
                    modalErrorDiv.innerHTML = "";
                }
                modalErrorDiv = document.createElement("div");
                modalErrorDiv.style.marginLeft = "1.5rem";
                modalErrorDiv.classList.add("text-danger")
                modalErrorDiv.innerHTML = ""
                for (var error of errors) {
                    let p = document.createElement("p");
                    p.classList.add("text-danger");
                    p.appendChild(document.createTextNode(error));
                    modalErrorDiv.appendChild(p);
                }
                form.prepend(modalErrorDiv);
            }else if(response.status == 200) {
                console.log("successful");
                console.log(responseBody)
                window.location = responseBody.url;
            }
            
        }
    }
</script>
}