@{
    ViewData["Title"] = "ConfirmEmail";
}

<div class="container my-3">
    <h1>Confirm Email</h1>
    <p>
        Thank you for confirming your email.
    </p>
    <a class="text-primary" asp-action="Home" asp-controller="Home" asp-area="">Go back to home page</a>
</div>