@{
    ViewBag.Title = "Reset Password";
}

<div class="container my-3">
    <p>A reset link will be provided to your email.</p>
    <div class="row">
        <div class="col-md-8">
            <form asp-action="ResetPassword" name="password-reset">
                <div class="form-group">
                    <label for="Email" class="form-label">Email</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <input class="btn btn-sm btn-primary" type="submit" value="Reset Password">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="~/js/password-reset-form.js">
    </script>
}