@page
@model ConfirmPhoneSuccessModel
@{
    ViewBag.Title = "Phone Number Confirmed";
}

<div class="container my-4">
    <h5>Congrats your phone number was verified successfully</h5>
    <a href="/" class="text-primary">Back to home</a>
</div>