.menu-link-uppercase {
    text-transform: uppercase;
    color: #888888;
    font-size: 16px;
}

.btn {
    font-size: 1.2rem;
}
.btn::before {
    all: initial;
}

.sort-select {
    margin-top: -6px;
    margin-left: 7px;
}
.show-more {
    display: none;
}
.image-index,
.image-testimonial {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.image-testimonial {
    border-radius: 50%;
}
.input-validation-error {
    border-color: red;
}

.btn-sm {
    padding: 1.3rem;
}
.form-check-input {
    margin-top: 0.5rem;
}

form .error {
    color: #ff0000;
}

div.actions > a {
    margin-bottom: 1rem;
}

a:last-child {
    margin-bottom: 0;
}

.form-label {
    margin-bottom: 0.5rem;
    vertical-align: bottom;
    display: flex;
    align-items: center;
}

.row > .form-label {
    margin-bottom: 0;
}
.img-profile {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.img-profile-small {
    height: 8rem;
}

.company-logo {
    max-width: 100%;
    height: 10rem;
    object-fit: cover;
}
.company-brand{
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.company-logo-round {
    border-radius: 50%;
}

.company-detail-hero {
    height: 20rem;
    background-image: linear-gradient(45deg, #fb246a, #f08080);
}
.company-name {
    padding: 0.5rem;
    color: white;
    background-color: #fb246a;
}
.opening-position {
    padding: 1rem 0.5rem;
    border: 2px solid #dddddd;
}

.opening-post {
    display: flex;
    padding: 1rem;
    border: 2px solid #dddddd;
    margin-bottom: 0.5rem;
}

.opening-post p {
    margin-block-start: 0em;
    margin-block-end: 0.5em;
}

.job-type {
    position: absolute;
    top: 1.5rem;
}
@media (max-width: 991px) and (min-width: 767px) {
    .job-type {
        top: 2.6rem;
    }
}
