.menu-link-uppercase {
    text-transform: uppercase;
    color: #888888;
    font-size: 16px;
}

.btn {
    font-size: 1.2rem;
}
.btn::before{
    all:initial;
}

.sort-select {
    margin-top:-6px;
    margin-left: 7px;
}
.show-more {
    display: none;
}

.image-testimonial{
    border-radius: 50%;
    width: 200px;
    height:200px;
}
.input-validation-error {
    border-color: red;
}