@model TestimonialUpdateViewModel
@{
    ViewBag.Title = "Edit Testimonial";
}

<div class="container my-5">
    <h2>Edit Testimonial</h2>
    <form asp-action="Edit" asp-controller="Testimonial" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="PersonName" class="form-label"></label>
            <input asp-for="PersonName" class="form-control">
            <span class="text-danger" asp-validation-for="PersonName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Designation" class="form-label"></label>
            <input asp-for="Designation" class="form-control">
            <span class="text-danger" asp-validation-for="Designation"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="form-label"></label>
            <textarea asp-for="Message" class="form-control"></textarea>
            <span class="text-danger" asp-validation-for="Message"></span>
        </div>
        <div class="d-flex flex-column">
            @if(!string.IsNullOrEmpty(Model.ImagePath)){
                <div>
                    <p>Current Picture</p>
                    <img src="~/@Model.ImagePath" alt="" class="image-testimonial">
                </div>
            }
            <div class="form-group">
                <label asp-for="FormFile" class="form-label"></label>
                <input asp-for="FormFile" class="form-control">
                <span class="text-danger" asp-validation-for="FormFile"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-sm bg-primary">Edit</button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}