@model CompanyViewModel

<div class="form-group">
    <label asp-for="Location" class="form-label"></label>
    <input asp-for="Location" class="form-control">
    <span class="text-danger" asp-validation-for="Location"></span>
</div>
<div class="form-group">
    <label asp-for="Phone" class="form-label"></label>
    <input asp-for="Phone" class="form-control">
    <span class="text-danger" asp-validation-for="Phone"></span>
</div>

<div class="form-group">
    <label asp-for="Website" class="form-label"></label>
    <input asp-for="Website" class="form-control">
    <span class="text-danger" asp-validation-for="Website"></span>
</div>

<div class="form-group">
    <label asp-for="Slogan" class="form-label"></label>
    <input asp-for="Slogan" class="form-control">
    <span class="text-danger" asp-validation-for="Slogan"></span>
</div>
<div class="form-group">
    <label asp-for="Info" class="form-label"></label>
    <input asp-for="Info" class="form-control">
    <span class="text-danger" asp-validation-for="Info"></span>
</div>